body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cdcdcd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: #305791;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}


button.btn-green {
  background-color: #4CAF50;
}

button.btn-stop {
  background-color: #b13e36;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #adadad !important;
  color: black;
  cursor: not-allowed;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
}

.img-thumbnail {
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    height: 80px;
    width: 80px;
}

.img-thumbnail div {
  background-color: rgb(100, 100, 100);
  background-size: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.image-container-big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.img-big {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  max-width: calc(100% - 40px);
  max-height: calc(100vh - 90px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5a5a5a;
  padding: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  margin-bottom: 10px;
}

header .timer {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  min-width: 70px;
}


/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #cdcdcd;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 200px;
  height: 30px;
  line-height: 30px;
  background: #cdcdcd;
  overflow: hidden;
  border-radius: 5px;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #858585;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #305791;
}